/*Estrutura do site*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../img/fundo.png) repeat-x;
}

#principal{
	width: 750px;
	margin: 0 auto;
}

#header{
	height: 150px;
	padding-top: 25px;
	background: url(../img/detalhe-topo.png) no-repeat top right;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(../img/logo.png) no-repeat center;
	text-indent: -30000px;
}

/*barra de navegação*/

a:link, a:visited{
	color: #b10333;
	padding: 2px;
}

a:hover{
	color: #e50040;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#header ul{
	margin-top: 30px;
	background: #b10333;
	float: left; /*é necessário pra flutuar junto com o li*/
}

#header ul li{
	float: left;
}

#header ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../img/divisor.png) no-repeat left;
}
#header ul .primeiro a{
	background: none;
}

#header ul a:hover{
	color: #69001d;
}

body.home #nav a#home, body.brasil #nav a#brasil, body.internacional #nav a#internacional, body.economia #nav a#economia, body.saude #nav a#saude, body.ciencia #nav a#ciencia, body.fotos #nav a#fotos{
	color: #fff;
	background: #de003e;
	cursor: text;
}

/*LAYOUT DE TRES COLUNAS*/

#conteudo{
	background: #f5f5f5;
	margin-top: 60px;
	float: left;
}

#sidebar{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

#first{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
}

#duas-colunas #first{
	width: 555px;
}

#uma-coluna #first{
	width: 750px;
	margin: 0 0 20px 0;
}

#second{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}


/*BOX*/

.box{
	margin: 10px 0;
	padding: 5px 0 5px 0;
	background: #f3f3f3 url(../img/fundo-caixa.png);
}

h2{
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

.box-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

.box-conteudo a{
	text-decoration: none;
} 

.box-conteudo a:hover{
	text-decoration: underline;
} 

/*FORMATAR MENUS SIDEBAR*/

#sidebar ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#sidebar ul a:hover{
	background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
	padding-left: 20px;
	color: #a1a1a1;
}


/*FORMATANDO FORMULÁRIOS*/

label{
	display: block;
	cursor: pointer;
}

input{
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit{
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;
	cursor: pointer;
}

/*FORMATANDO IMAGENS*/

img.imagem-principal{
	width: 98%;
	border: 3px solid #dfdfdf;
}

/*FORMATANDO CABEÇALHOS*/

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3{
	background: #b10333;
	color: #fff;
}

.entrevista h3{
	background: #de003e;
	color: #fff;
}

/*FORMATANDO LISTA DE NOTICIAS*/

#lista-noticias li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li a img{
	float: left;
	margin: 5px;
}

#lista-noticias li a{
	text-decoration: none;
}

#lista-noticias li a h3{
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li:hover{
	background: #eee;
	cursor: pointer;
}

#lista-noticias li a p{
	font-size: 0.7em;
	color: #000;
}

/*FORMATAÇÃO NOTÍCIAS*/

.box-conteudo p.paragrafo-noticia{
	padding: 10px;
}

/*CONTAINER-FOOTER*/

#container-footer{
	background: #294c71;
	padding: 20px;
}

#footer{
	width: 750px
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-weight: bold;
}